<div class="container admin-form">
  <div class="admin-header">
    <h1>Edit Site Content</h1>
    <a href="/logout">Logout</a>
  </div>
  <form method="post">
    <div class="form-group">
      <label>Navigation bar header</label>
      <input type="text" name="nav" class="form-control" value="{{content.nav}}">
    </div>
    <div class="form-group">
      <label>Splash big text</label>
      <input type="text" name="splashBig" class="form-control" value="{{content.splashBig}}">
    </div>
    <div class="form-group">
      <label>Splash small text</label>
      <input type="text" name="splashSubheader" class="form-control" value="{{content.splashSmall}}">
    </div>
    <div class="form-group">
      <label>About text</label>
      <textarea name="about" class="form-control" rows="6">{{content.about}}</textarea>
    </div>
    <div class="form-group">
      <label>Free Assessment and Online Consultation text</label>
      <textarea name="assessment" class="form-control" rows="6">{{content.free}}</textarea>
    </div>
    <div class="form-group">
      <label>Other Services text</label>
      <textarea name="others" class="form-control" rows="6">{{content.other}}</textarea>
    </div>
    <div class="form-group">
      <label>Pricing beginner description</label>
      <textarea name="beginnerDesc" class="form-control" rows="6">{{content.beginner}}</textarea>
    </div>
    <div class="form-group">
      <label>Pricing intermediate description</label>
      <textarea name="intermediateDesc" class="form-control" rows="6">{{content.intermediate}}</textarea>
    </div>
    <div class="form-group">
      <label>Pricing advanced description</label>
      <textarea name="advDesc" class="form-control" rows="6">{{content.adv}}</textarea>
    </div>
    <div class="form-group">
      <label>Why Learn Chinese With Me text</label>
      <textarea name="whyDesc" class="form-control" rows="6">{{content.why}}</textarea>
    </div>
    <div class="right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
