<div class="jumbotron jumbotron-fluid splash-img odd-section">
  <div class="container">
    <h1 class="display-4">{{content.splashBig}}</h1>
    <p class="lead">{{content.splashSmall}}</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid odd-section page-section" id="questions">
  <div class="container">
    {{{content.questions}}}
  </div>
</div>

<div class="jumbotron jumbotron-fluid even-section page-section" id="others">
  <div class="container">
    <h2>Why Learn Chinese With Me</h2> {{{content.why}}}
  </div>
</div>

<div class="jumbotron jumbotron-fluid odd-section page-section" id="about">
  <div class="container">
    <h2>About</h2>
    <img id="face" class="float-right img-thumbnail img-fluid" src="/images/face.jpg" /> {{{content.about}}}
  </div>
</div>

<div class="jumbotron jumbotron-fluid even-section page-section" id="freebies">
  <div class="container">
    <h2>Free Assessment and Online Consultation</h2>
    <p>
      {{{content.free}}}
    </p>
    <p>
      <a class="typeform-share button" href="https://lydiax.typeform.com/to/jatU3A" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:0.25rem;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"
        target="_blank">Take free initial assessment</a>
    </p>
    <p>
      <a class="typeform-share button" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:0.25rem;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"
        href="/contact">Contact me for free consultation</a>
    </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid odd-section page-section" id="pricing">
  <div class="container">
    <h2>Pricing</h2>
    <div class="card-deck">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Beginner</h5>
          <p class="card-text">{{{content.beginner}}}</p>
        </div>
        <div class="card-footer">
          <a href="mailto:mandarinforprofessionals@gmail.com" class="btn btn-primary">Contact</a>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Intermediate</h5>
          <p class="card-text">{{{content.intermediate}}}</p>
        </div>
        <div class="card-footer">
          <a href="mailto:mandarinforprofessionals@gmail.com" class="btn btn-primary">Contact</a>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Advanced</h5>
          <p class="card-text">{{{content.adv}}}</p>
        </div>
        <div class="card-footer">
          <a href="mailto:mandarinforprofessionals@gmail.com" class="btn btn-primary">Contact</a>
        </div>
      </div>
    </div>
  </div>
</div>
