<div class="jumbotron jumbotron-fluid splash-img even-section">
  <div class="container">
    <h1 class="display-4">{{splashBig}}</h1>
    <p class="lead">{{splashSmall}}</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid odd-section page-section" id="about">
  <div class="container">
    <h1 class="display-4">About</h1>
    {{about}}
  </div>
</div>

<div class="jumbotron jumbotron-fluid even-section page-section" id="freebies">
  <div class="container">
    <h1 class="display-4">Free Assessment and Online Consultation</h1>
    {{free}}
    <p>
      Contact at <a href="mailto:info@site.com">info@site.com</a>
    </p>
    <p>
      <a class="typeform-share button" href="https://lydiax.typeform.com/to/jatU3A" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:0.25rem;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"
        target="_blank">Take free initial assessment</a>
    </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid odd-section page-section" id="others">
  <div class="container">
    <h1 class="display-4">Other Services</h1>
    {{other}}
  </div>
</div>

<div class="jumbotron jumbotron-fluid odd-section page-section" id="others">
  <div class="container">
    <h1 class="display-4">Why Learn Chinese With Me</h1>
    {{why}}
  </div>
</div>

<div class="jumbotron jumbotron-fluid even-section page-section" id="pricing">
  <div class="container">
    <h1 class="display-4">Pricing</h1>
    <div class="card-deck">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Beginner</h5>
          <p class="card-text">{{beginner}}</p>
          <a href="mailto:info@site.com" class="btn btn-primary">Contact</a>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Intermediate</h5>
          <p class="card-text">{{intermediate}}</p>
          <a href="mailto:info@site.com" class="btn btn-primary">Contact</a>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Advanced</h5>
          <p class="card-text">{{adv}}</p>
          <a href="mailto:info@site.com" class="btn btn-primary">Contact</a>
        </div>
      </div>
    </div>
  </div>
</div>
